:root {
  --color-background: #e5e5e5;
  --color-main: #2e2e2e;
  --color-accent: #ce0912;
  --color-yellow: #f6cc1a;

  --color-white: #fff;
  --color-black: #2e2e2e;
}

.dark {
  --color-background: #1e1e1e;
  --color-main: #e5e5e5;
}
