@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center-1400 {
  width: 140rem;
  margin: 0 auto;
}
