@use "@/sass/helpers" as *;

.home {
  @include flex-center;

  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  .header {
    @include flex-center;

    flex-direction: column;
  }
}

.title {
  font-size: 3.2em;
  text-align: center;
  width: 90vw;
  margin-bottom: 2rem;
}
